/* custom property */


:root {
	--global-color-1: #800000;
}
* {
	margin: 0;
	padding: 0;
}

html{
	background-color: #fff;
}
/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 600px;
    margin: 0 auto;
	border: solid 3px #931420;
	background-color: #fffded;
}
header{
	border-bottom: solid 3px #931420;
	padding-top: 1.5em;
	padding-bottom: 2em;
	background-image: linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 25%, white 50%, #f6bb73 75%, #f6bb73 100%);
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header h2 {
	font-size: 175%;
	color: var(--global-color-1);
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
header img {
	float: left;
	padding: 0 30px;
}
.shadow {
	text-shadow: 2px 2px 2px var(--global-color-1);
}
/* the styles for the main content */
main {
	clear: left;
	padding: 0 30px;
}
main h1 {
	font-size: 150%;
	padding: .3em 3em;
	border: solid 3px #931420;	
	border-radius: 25px;
}
main h2 {
	color: var(--global-color-1);
	font-size: 130%;
	padding: .5em 0 .25em 0;
}
main h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
main img {
	padding-bottom: 1em;
}
main p {
	padding-bottom: .5em;
}
main blockquote {
	padding: 0 2em;
	font-style: italic;
}
main ul {
	padding: 0 0 .25em 1.25em;
}
main li {
	padding-bottom: .35em;
}

/* the styles for the footer */
footer p {
	text-align: center;
	padding: 1em 0;
	background-color: #931420;
	color: #fff;
}
